* {
  padding: 0.5rem;
  margin: 0.5rem;
  box-sizing: border-box;

}

:root {
  --primary-color: #f87171;
}
h2 {
  font-size: 0.3in;
  margin: 2rem;
}
.input-label {
  display: block;
  font-size: 0.2in;

}
main {
  text-align: center;
  margin: 3rem;
  background-color: #3a435a;
  margin-left: 300px;
  margin-right: 300px;

}
.input {
  font-size: 14px;
  outline: #fff;
  padding: 0.6rem 1rem;
  margin: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 258px;
}

#show-btn {
  background: var(--primary-color);
  border: none;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: #fff;
  margin: auto;
  display: block;
}

#result {
  font-size: x-large;
  margin: 2rem 0;

}
#errorMessage{
  color:red;
}
